html
{
    height: 100vh;
    font-style: normal;
    font-family: 'Montserrat',sans-serif;
    background: rgb(28,108,126);
    background: linear-gradient(4deg, rgba(28,108,126,1) 0%, rgba(13,136,92,1) 100%);
}
body
{
    font-weight: 500;
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    background: rgb(195,34,86);
    background: linear-gradient(191deg, rgba(195,34,86,1) 0%, rgba(82,107,98,1) 100%);
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(25, 76, 80);
}
h1
{
    text-align: center;
    font-size: 50px;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
  p, li
{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}