body{
    padding: 20px;
}

.headerContainer{
    font-family: 'Montserrat',sans-serif;
    background: rgb(58,180,177);
    background: linear-gradient(95deg, rgba(58,180,177,1) 0%, rgba(252,133,69,1) 100%);
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    font-weight: bolder;
    height: 50px;
    font-size: 30px;
}

.footerContainer{
    font-family: 'Montserrat',sans-serif;
    background: rgb(58,180,177);
    background: linear-gradient(278deg, rgba(58,180,177,1) 0%, rgba(252,133,69,1) 100%);
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    font-weight: 700;
    height: 25px;
}

.mainContainer{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-flow: row wrap;
    font-weight: 400;
    text-align: center;
}

.mainContentItem{
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    background: rgb(22,11,45);
    background: linear-gradient(153deg, rgba(22,11,45,1) 0%, rgba(11,126,144,1) 100%);
    flex: 2 0px ;
    order: 2;
}

article{
    color: azure;
    font-family: 'Montserrat',sans-serif;
    margin: 10px;
    padding: 10px;
    background: rgb(172,22,61);
    background: linear-gradient(306deg, rgba(172,22,61,1) 0%, rgba(37,7,82,1) 100%);
}

.sidebarLeftItem{
    color: azure;
    font-family: 'Montserrat',sans-serif;
    background: rgb(102,61,71);
background: linear-gradient(246deg, rgba(102,61,71,0.9332107843137255) 0%, rgba(7,30,82,0.9500175070028011) 85%);
    order: 1;
}

.sidebarRightItem{
    color: azure;
    font-family: 'Montserrat',sans-serif;
    background: rgb(102,61,71);
    background: linear-gradient(60deg, rgba(102,61,71,0.9332107843137255) 0%, rgba(7,30,82,0.9500175070028011) 100%);
    order: 3;
}

.sidebarItem{
    font-family: 'Montserrat',sans-serif;
    flex: 1 0 0;
    border: 0px solid green;
}
